@font-face {
    font-family: Cocogoose-light;
    src: url("./fonts/Cocogoose/Cocogoose Light.ttf");
}

@font-face {
    font-family: Sans-Semibold;
    src: url("./fonts/OpenSans/OpenSans SemiBold.ttf");
}

@font-face {
    font-family: Sans-Medium;
    src: url("./fonts/OpenSans/OpenSans Medium.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
#error {
    font-family: Cocogoose-light;
}

form>div>input,
form>input {
    font-family: Sans-Medium;
}

/* --------------------------------- Mensajes Toast --------------------------------- */

.p-toast-message-success {
    background-color: #E9F6F0;
    border: 2px solid #0FAB0B;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    padding-bottom: 5px;
}

.p-toast-message-error {
    background-color: #f4cccbac;
    border: 2px solid rgba(255, 0, 0, 0.453);
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 5px;
    width: 350px;
}

/* --------------------------------- Estilos de la Datatable --------------------------------- */

/* Estilos personalizados para la DataTable */
.custom-datatable .p-datatable-tbody td,
.custom-datatable .p-datatable-tbody th,
.custom-datatable .p-datatable-thead tr {
    border: 1px solid #e0e0e0;
    /* Cambia el color y grosor del borde según tus preferencias */
}

.custom-datatable .p-datatable-tbody tr:hover {
    background-color: #f0f0f0;
    /* Cambia el color de fondo en hover según tus preferencias */
}


/* Estilo para la línea entre los pasos */
.p-steps-item:not(:last-child):before {
    content: ''  !important;
    position: absolute !important;
    width: 2px !important;
    /* Ancho de la línea entre pasos */
    height: 20px !important;
    /* Altura de la línea entre pasos */
    background-color: yellow !important;
    /* Color de la línea entre pasos */
    top: calc(50% - 10px) !important;
    /* Posiciona la línea en el centro verticalmente */
    left: 50%;
    transform: translate(-50%, 0) !important;
    z-index: -1 !important;
    /* Coloca la línea detrás de los círculos de los pasos */
}

.p-steps-number{
    background-color: yellow;
}