
@font-face {
    font-family: Cocogoose-light;
    src: url("./fonts/Cocogoose/Cocogoose Light.ttf");
}

@font-face {
    font-family: Sans-Semibold;
    src: url("./fonts/OpenSans/OpenSans SemiBold.ttf");
}

@font-face {
    font-family: Sans-Medium;
    src: url("./fonts/OpenSans/OpenSans Medium.ttf");
}

 h1, h2, h3, h4, h5, h6, #error{
    font-family: Cocogoose-light;
}

form>div>input, form>input{
    font-family:Sans-Medium;

}